// main colours
$greyscale-dark: #333;
$mustard: #f3ce56;
$mid-blue: #0a6fba;
$dark-green: #00874d;
$white: #fff;

// mini normalize
html {
  box-sizing: border-box;
}

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// media queries
$small: 480px !default;
$medium: 768px !default;
$large: 1024px !default;

@media (min-width: #{$small}) {
  .c-searchbox {
    padding: 1.5rem;
    letter-spacing: 0;
  }
}

@media (max-width: #{$large - 1px}) and (min-width: #{$medium}) {
  .c-searchbox {
    width: 512px;
    margin: 0 auto;
  }
}
@media (min-width: #{$large}) {
  .c-searchbox {
    width: 480px;
  }
}

//Typography
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Ubuntu', Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: inherit;
  font-size: 1.5rem;
  color: $greyscale-dark;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.ui-clyde {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', Tahoma, sans-serif;
}

.search-container {
  direction: ltr;
  text-align: left;
  display: block;
  margin-top: 64px;
}

.c-searchbox {
  margin: 0 auto;
  padding: 1.5rem;
  letter-spacing: -0.4px;
  background-color: $mustard;
  input {
    font-weight: 400;
    line-height: 1.5rem;
    -webkit-appearance: none;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    height: 40px;
    min-width: 49px;
    padding: 8px 16px;
    width: 100%;
    height: 48px;
    font-size: 1rem;
    border-color: #c8ae5b;
    &::-webkit-input-placeholder {
      font-size: 0.875rem;
    }

    &::-moz-placeholder {
      font-size: 0.875rem;
    }

    &:-ms-input-placeholder {
      font-size: 0.875rem;
    }
    &:focus {
      border-color: #0f6193;
      outline: 0;
    }
  }
}

.c-form__label {
  display: block;
  padding: 0 0 4px;
  color: #444;
}

.search-results {
  z-index: 10;
  width: 100%;
  overflow: hidden;
  background: $white;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  &.list {
    display: table;
    width: 100%;
  }
}

.c-search-results__item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: block;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: 0.3s;
  &.item:not(:first-child) {
    border-top: 1px solid #b4b4b4;
  }
}

.c-fts-results__pill-container {
  padding: 8px 16px;
  display: flex;
  width: 70px;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
}

.c-fts-results__result-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 30px;
  width: 80%;
  justify-content: space-evenly;
}
